miscell/*
Readme.html
*DS_Store
.Rhistory
src/*.o
test/Eigen/
*~
docs/
*.html
*.RData
*_cache
*_files
notes:reports/data/
src/runeems2
test/check_priors.R
test/data
*png
*.txt
.Rproj.user
data/*
sims/*
notes:reports/*
src/*.ini
plotting/
examples/2_6/2_6-MAPS-test-sim/
examples/6_Inf/6_Inf-MAPS-test-sim/
*pdf